<p>template-form works!</p>

<ul *ngFor="let ninja of ninjas">
    <!-- import CommonModule to use ngFor-->
    <li>{{ ninja.name }}</li>
    <li>{{ ninja.belt }}</li>
    <li>{{ ninja.id }}</li>
    <li>{{ ninja | json }}</li>
</ul>


<form #form="ngForm">
    <!-- import FormsModule to use ngForm-->
    <input type="text" [(ngModel)]="ninja.name" name="name">
    {{ ninja | json }}

    <hr>

    <!-- display formdata: -->
    {{ form.value | json }}

    <!-- #form is a template reference variable-->

    <hr>

    <!-- Radio button -->
    <input type="radio"
        name="belt"
        id="white"
        value="white"
        [ngModel]="ninja.belt"
        (ngModelChange)="handleModelChange($event)"
        (change)="handleChange($event)"
        >
        <label for="white">White</label>

    <input type="radio"
        name="belt"
        id="yellow"
        value="yellow"
        [ngModel]="ninja.belt"
        (ngModelChange)="handleModelChange($event)"
        (change)="handleChange($event)"
        >
        <label for="yellow">Yellow</label>

    <input type="radio"
        name="belt"
        id="black"
        value="black"
        [ngModel]="ninja.belt"
        (ngModelChange)="handleModelChange($event)"
        (change)="handleChange($event)"
        >
        <label for="black">Black</label>

    <hr>

    <!-- Checkbox input -->
    <input type="checkbox"
        name="certified"
        id="certification"
        [ngModel]="ninja.certified"
        >
        <label for="certification">Certify Ninja</label>

    <hr>

    <!-- Form validation -->
    <input type="email"
        #ninjaEmail="ngModel"
        name="email"
        [(ngModel)]="ninja.email"
        >
    <div *ngIf="ninjaEmail.valid">Valid</div>
    <div *ngIf="ninjaEmail.invalid">Invalid</div>

    <div *ngIf="ninjaEmail.pristine">Pristine</div>
    <div *ngIf="ninjaEmail.dirty">Dirty</div>

    <div *ngIf="ninjaEmail.touched">Touched</div>
    <div *ngIf="ninjaEmail.untouched">Untouched</div>

    <!--
        template.valid/invalid : validation
        template.pristine/dirty : no modification yet
        template.touched/untouched : blur
    -->

    <hr>

    <!-- Select input -->
    <select name="color" [ngModel]="ninja?.belt">
        <option
            *ngFor="let color of colors"
            [value]="ninja.belt"
            >{{ color.value }}</option>
    </select>
</form>
