<p>template-form works!</p>

<ul *ngFor="let ninja of ninjas">
    <!-- import CommonModule to use ngFor-->
    <li>{{ ninja.name }}</li>
    <li>{{ ninja.belt }}</li>
    <li>{{ ninja.id }}</li>
    <li>{{ ninja | json }}</li>
</ul>


<form #form="ngForm">
    <!-- import FormsModule to use ngForm-->
    <input type="text" [(ngModel)]="ninja.name" name="name">
    {{ ninja | json }}

    <!-- display formdata: -->
    {{ form.value | json }}

    <!-- Radio button -->
    <input type="radio"
        name="belt"
        id="white"
        value="white"
        [ngModel]="ninja.belt"
        (ngModelChange)="handleModelChange($event)"
        (change)="handleChange($event)"
        >
        <label for="white">White</label>

    <input type="radio"
        name="belt"
        id="yellow"
        value="yellow"
        [ngModel]="ninja.belt"
        (ngModelChange)="handleModelChange($event)"
        (change)="handleChange($event)"
        >
        <label for="yellow">Yellow</label>

    <input type="radio"
        name="belt"
        id="black"
        value="black"
        [ngModel]="ninja.belt"
        (ngModelChange)="handleModelChange($event)"
        (change)="handleChange($event)"
        >
        <label for="black">Black</label>
</form>
